// Place all the styles related to the amas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box_round {
     -moz-border-radius: 12px; /* FF1+ */
  -webkit-border-radius: 12px; /* Saf3-4 */
          border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */
}

.h1_neat {
	font-size: 170%;
	line-height: 1.3;
}

.h1_centered {
	position: relative;
	width: 600px;
	top: 50px;
	margin: auto;
}

#frm .group {
	position: relative;
    display: block;
    float: left;
    padding-right: 6px;
	text-align:center;
	width:175px;
	top: 100px; /* distance from top */
	left: 550px; /* distance from left */
	
}

#frm label {
    display:block;
}

.top_link {
	position: relative;
	width: 600px;
	top: 300px;
	margin: auto; 
}