// Place all the styles related to the staticpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#col1
{
	float: left;
	width: 48%;
	margin-left: 3%;
	
}
	
#col2
{
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#col3
{
	float: left;
	width: 20%;
	margin-left: 3%;
}
