<p style="font-size:20px;margin:10px;"><%= @title %></p>

<br>
<br>
 
<% @masterlist.each do |list| %>
	<% list.each do |sublist|%>
		<div style="margin:10px;width:76.5%;border:1px solid gray;padding:8px;background:#AFEEEE">
		<p><%= sublist.author %> writes:</p>
	    <p><%= sublist.body %></p>
		</div>
		<% end %>
	<br>
<% end %>
