<h1 class="h1_centered">Enter the URL of an AMA:</h1>

<%= render 'form' %>

<% top_title = Ama.find(Ama.top_three).title%> 

<div class="top_link">
	<h2> Today's most popular AMA: </h2>
	<%= link_to top_title, ama_path(Ama.top_three) %>
</div>