<body>
<div id="col1"></div>
<div id="col2">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	<h2>Enter the URL of an AMA:</h2>

	<%= render 'form' %>
	
	
	<% top_title = Ama.find(Ama.top_three(nil)).title%> 

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


	<h3> Or read today's most popular AMA: </h3>
	<h3 class="small"><%= link_to top_title, ama_path(Ama.top_three(nil)) %> </h3>
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<p class="center"><%= link_to "About this site", about_path('about')%> |
	<a href="http://www.github.com/elanakoren/amaproject">Source code</a></p>
</div>
</body>
