<body>
<div id="col1"></div>
<div id="col2">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	<h2>Enter the URL of an AMA:</h2>

	<%= render 'form' %>

	<% top_title = Ama.find(Ama.top_three).title%> 
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	

	<h2> Today's most popular AMA: </h2>
	<h3><%= link_to top_title, ama_path(Ama.top_three) %> </h3>
</div>
<div id="col3"></div>
</body>
